.SelectedPersonList-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  color: #ACB8C5;
  font-weight: bold;
}

.SelectedPersonList-item{
  color: #48C1C2;
  padding: 0 5px;

}